:root {
  --bg-color: #171717;
  --text-color: #737373;
  --head-color: #d4d4d4;
  --sub-head-color: #e5e5e5;
}

header img {
  width: 15rem;
}

.game-list img {
  width: 15rem;
  border-radius: 0.8rem;
}

/* GAME - GENERAL STYLE */
.game-img {
  max-width: 90%;
  width: 45rem;
  border-radius: 0.8rem;
  margin-block: 2rem;
}

.streamers img {
  width: 5rem;
  border-radius: 50%;
}

.oficial-links a {
  font-size: 2.4rem;
  color: var(--sub-head-color);
  margin-block: 2rem;
}

.website-link {
  display: inline-flex;
  border: 1px solid var(--sub-head-color);

  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
}

.btn-up {
  display: inline-flex;
  margin-top: 2rem;

  color: var(--text-color);
  text-decoration: underline;
}

/* ROCKETSEAT */
.section-rocketseat p a {
  color: var(--sub-head-color);
  text-decoration: underline;
}

.rocketseat {
  font-size: 2.4rem;
  color: var(--sub-head-color);

  border: 1px solid var(--sub-head-color);
  border-radius: 0.8rem;

  display: flex;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
}
